<template name="hasFilters">
    <div class="col-sm-12 col-md-3 pull-right">
        <div class="form-group col-xs-6 col-md-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="has-return-filter"> Has Return Date
                </label>
            </div>
        </div>
        <div class="form-group col-xs-6 col-md-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="has-borrowed-filter"> Has Borrowed Date
                </label>
            </div>
        </div>
    </div>
</template>
